* {
    /* content box yazarsam içerideki içeriğin dışına doğru alır. border box yazarsam borderlardan içeri doğru alır */
    box-sizing: border-box;
}


.logo {
    color: black;
    font-family: "Baskerville";
    font-size: 4rem;
    position: relative;
    display: block;
    font-weight: lighter;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}
.ankara-logo {
  color: black;
  font-family: "Baskerville";
  font-size: 1rem;
  position: relative;
  display: block;
  font-weight: lighter;
  width: 100%;
  margin: 0 0 25px 0;
  padding: 0;
  text-align: center;
  /* overflow: hidden; */
}
#font {
    font-family: "Baskerville";
}
.contact-text {
    color: black;
    font-family: "Baskerville";
    font-size: 2rem;
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    margin: 0;
    padding: 0;
    transform: translate(-50%, -50%)
}
/* :root {
    font-size: 25px;
} */
/* rem boyutu ayarlamak için kullan */

body {
    margin: 0;
    padding: 0;
}

.title-box {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}
.main-page-content-box {
    position: relative;
    display: flex;
    overflow: hidden;
    margin: 50px auto 20px auto;
    padding: 20px;
    width: 80%;

}

.logo-arka {
    display: block; 
    position: relative;
    width: 50%;
    border-radius: 10px;
    margin: 20px auto 20px auto;
    height: 500px;
    object-fit: cover;
    z-index: -1;
}

.logo-kapak-icerik {
    display: block; 
    position: relative;
    width: 50%;
    border-radius: 10px;
    margin: 20px auto 20px auto;
    height: 500px;
    object-fit: cover;
    z-index: -1;
}

.dropdown-content {
    background-color: #5f564d;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
.dropbtn {
    display: none;
}

/* Links inside the dropdown */

.dropdown-content a {
    background-color: #5f564d;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color when hover */
.dropdown-content a:hover {
    background-color: #74695e;
}



/* Change the background color of the dropdown button when the dropdown content is shown. */
.dropdown:hover .dropbtn {
    background-color: #443d37;
}


.contact-box {
    position: relative;
    display: block;
    width: 100%;
    /* height: 1000px; */
}
.contact-header {
    font-family: Baskerville;
    font-weight: lighter;
    font-size: 3rem;
    position: relative;
    margin-top: 50px;
    display: block;
    text-align: center;
}
span {
    font-family: Baskerville;
}
.telephone-header {
    font-size: 32px;
    position: relative;
    display: block;
    padding-top: 70px;
    padding-left: 15%;
}

.numara {
    display: block;
    position: relative;
    font-size: 32px;
    padding-top: 15px;
    padding-left: 17%;
}
.email-header {
    font-size: 32px;
    position: relative;
    display: block;
    padding-top: 40px;
    padding-left: 15%;

}
.email {
    font-size: 32px;
    display: block;
    position: relative;
    padding-top: 15px;
    padding-left: 17%;
}
.adress-header {
    font-size: 32px;
    position: relative;
    display: block;
    padding-top: 40px;
    padding-left: 15%;

}
.adress {
    font-size: 32px;
    display: block;
    position: relative;
    padding-top: 15px;
    padding-left: 17%;
}
.social-header {
    font-size: 32px;
    position: relative;
    display: block;
    padding-top: 70px;
    padding-left: 15%;
    padding-bottom: 30px ;
}

.insta-logo {
    width: 30px;
    height: 30px;
    position: relative;
    display: inline-block;
}
.google-location {
    width: 30px;
    height: 30px;
    position: relative;
    display: block;
    top: 55%;
    left: 57%;
}
.lamine-header {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    display: block;
}
.laminat-header {
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    display: block;
    margin-top: 50px;
}
.masif-header {
        font-size: 2rem;
        text-align: center;
        font-weight: bold;
        display: block;
        margin-top: 50px;
}
.lamine-text {
    font-size: 32px;
    position: relative;
    display: inline;
    min-width: auto;
    min-height: auto;
    
    
}
.lamine-text-wrapper {
    max-width: 50%;
    max-height: 600px;
}
.laminat-text {
    /* position: absolute; */
    font-size: 32px;
    display: inline;
    /* top: 15%;
    left: 73%; */
    /* margin-left: 20px; */
    min-width: auto;
    min-height: auto;
    max-width: 45%;
    max-height: 100px;
    /* transform: translate(-50%, -50%); */
}
.masif-text {
    font-size: 32px;
    display: inline;
    min-width: auto;
    min-height: auto;
    max-width: 45%;
    max-height: 100px;
}
.text-wrapper {
    display: inline;
    position: relative;
    margin: 0 5px;
}
.lamine-img {
    border: solid black;
    border-radius: 50px;
    min-width: auto;
    min-height: auto;
    max-width: 45%;
    max-height: 600px;
    position: relative;
    display: inline;
    margin: 20px 60px 20px 0;
    margin-right: 60px;
    margin-bottom: 20px;
    order: 0;
}
.laminat-img {
    border: solid black;
    border-radius: 50px;
    min-width: auto;
    min-height: auto;
    max-width: 45%;
    max-height: 600px;
    position: relative;
    display: inline;
    margin: 40px 0 20px 60px;
    order: 1;
}
.masif-img {
    border: solid black;
    border-radius: 50px;
    min-width: auto;
    min-height: auto;
    max-width: 45%;
    max-height: 600px;
    position: relative;
    display: inline;
    margin: 40px 60px 20px 0;
    order: 0;
}
.google-maps {
    width: 100%;
    height: 600px;
}
.tarihce-header {
    font-family: Baskerville;
    font-weight: lighter;
    font-size: 3rem;
    position: relative;
    margin-top: 50px;
    display: block;
    text-align: center;
}
.tarihce-paragraf {
    font-size: 32px;
    display: inline;
    /* max-height: 100px; */
    /* height: 100px; */
}
.tarihce-box {
    display: block;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 200px;
    text-align: center;
    width: 50%;
}

.iletisim {
    background: url(./assets/images/footerbg.jpg);
    display: block;
    position: relative;
    margin: 0;
    padding: 20px 20px;
    width: 100%;
    border-bottom: 1px solid #5f564d;
}
.footer-box {
    background-color: #464037;
    margin: 0;
    padding: 0;
    height: 30px;
    display: inline-block;
    width: 100%;
    position: relative;
}
.footer-text {
    color: white;
    margin-left: 10px;
    font-size: 12px;
}
.showroom-header {
    font-size: 2rem;
    color: white;
    text-align: center;
}
.showroom-p {
    color: white;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
}
.showroom-bizi-arayın {
    text-align: center;
}
.arayın-button {
    height: 50px;
    font-size: 22px;
    text-decoration: none;
    width: 200px;
    border: 1px solid black;
    color: black;
}
.arayın-button:hover {
    background-color: #0c0702;
    color: white;
}
.adress-footer {
    background: url(./assets/images/footerbg.jpg);
    display: inline;
    float: right;
    position: relative;
    margin: 0;
    padding: 20px 20px;
    width: 100%;
}
.text-decoration {
    text-decoration: none;
}


@media (max-width:1280px) {

    .ankara-logo {
        font-size: 1rem;
        top: 14%;
    }
    .lamine-text {
        font-size: 28px;
    }
    .laminat-text{
        font-size: 28px;
    }
    .masif-text {
        font-size: 28px;
    }
    .tarihce-paragraf {
        font-size: 24px;
    }
    .lamine-img {
        float: none;
        width: 70%;
        display: block;
        min-width: none;
        min-height: none;
        max-width: none;
        max-height: none;
        margin: 0 auto;
        height: 300px;
        object-fit: cover;
    }
    .laminat-img{
        float: none;
        width: 70%;
        display: block;
        min-width: none;
        min-height: none;
        max-width: none;
        max-height: none;
        margin: 0 auto;
        height: 300px;
        object-fit: cover;
    }
    .masif-img {
        float: none;
        width: 70%;
        display: block;
        min-width: none;
        min-height: none;
        max-width: none;
        max-height: none;
        margin: 0 auto;
        height: 300px;
        object-fit: cover;
    }
    .lamine-text-wrapper {
        display: block;
        position: relative;
        max-width: 80%;
        width: 80%;
        height: auto;
        margin: 0 auto;

        box-sizing: border-box;
    }
    .text-wrapper{
        display: block;
        position: relative;
        max-width: 80%;
        width: 80%;
        height: auto;
        margin: 0 auto;
        box-sizing: border-box;
    }
    
    .tarihce-header {
        font-size: 2rem;
        margin-top: 30px;
    }
    .tarihce-box {
        margin-top: 30px;
        margin-bottom: 50px;
        width: 70%;
    }    
    .showroom-header {
        font-size: 1.5rem;
    }
    .showroom-p {
        font-size: 16px;
    }
    .arayın-button {
        height: 30px;
        width: 150px;
        font-size: 12px;
    }
    .iletisim {
        padding: 10px 10px;
        height: 150px;
    }
    .adress-footer {
        padding: 10px 10px;
        height: 150px;
    }
    .menuicon {
        width: 20px;
        height: 20px;
    }
    .dropbtn {
        background-color: #5f564d;
        display: inline;
        padding: 16px;
        font-size: 16px;
        border: none;
        height: 100%;
        z-index: 100;
    }
    /* The container div needed to position the dropdown content. */
    .dropdown {
        z-index: 100;
        position: fixed;
        background-color: black;
        top: 3%;
        left: 0;
        display: inline-block;
    }
    
    /* dropdown content (hidden by default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        font-family: "Baskerville";
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 2);
        z-index: 100;
    }
    /* show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
    display: block;
    }
    .logo-arka {
        height: 250px;
        width: 80%;
    }
    .logo-kapak-icerik {
        height: 350px;
        width: 80%;
    }
    .main-page-content-box {
        display: block;
        width: 100%;
        margin: 25px auto 25px auto;
    }
    .contact-header {
        font-size: 2rem;
        margin-top: 30px;
    }
    .telephone-header {
        font-size: 28px;
    }
    .numara{
        font-size: 28px;
    }
    .email-header {
        font-size: 28px;
    }
    .email {
        font-size: 28px;
    }
    .adress-header{
        font-size: 28px;
    }
    .adress{
        padding-right: 10px;
        font-size: 28px;
    }
    .social-header {
        font-size: 28px;
    }
}


@media (max-width: 680px){
    .logo{
        font-size: 2rem;
        margin-top: 10px;
    }
    .lamine-img {
        height: 200px;
        width: 100%;
    }
    .laminat-img {
        height: 200px;
        width: 100%;
    }
    .masif-img {
        height: 200px;
        width: 100%;
    }
    .lamine-text {
        font-size: 18px;
    }
    .laminat-text{
        font-size: 18px;
    }
    .masif-text {
        font-size: 18px;
    }
    .lamine-header {
        font-size: 1rem;
    }
    .laminat-header{
        font-size: 1rem;
        margin-top: 5px;
    }
    .masif-header {
        font-size: 1rem;
        margin-top: 5px;
    }
    .tarihce-header {
        font-size: 1.5rem;
        margin-top: 20px;
    }
    .showroom-header {
        font-size: 1rem;
    }
    .showroom-p {
        font-size: 12px;
    }
    .arayın-button {
        height: 25px;
        width: 100px;
        font-size: 12px;
    }
    .iletisim {
        padding: 5px 5px;
        height: 110px;
    }
    .adress-footer {
        padding: 5px 5px;
        height: 100px;
    }

    .contact-text {
        font-size: 2rem;
    }
    .telephone-header{
        padding-top: 60px;
    }
    .numara{
        font-size: 24px;
    }
    .email-header {
        font-size: 24px;
    }
    .email {
        font-size: 24px;
    }
    .adress-header{
        font-size: 24px;
    }
    .adress{
        padding-right: 10px;
        font-size: 24px;
    }
    .social-header {
        font-size: 24px;
    }
    .google-maps {
        width: 100%;
        height: 300px;
    }
    .contact-header {
        font-size: 1.5rem;
        margin-top: 20px;
    }
}


@media (max-width: 320px) {
    .lamine-img {
        height: 150px;
        object-fit: cover;
    }
    .laminat-img {
        height: 75px;
        object-fit: cover;
    }
    .masif-img {
        height: 75px;
        object-fit: cover;
    }
    .logo {
        font-size: 1rem;
    }
    .ankara-logo {
        font-size: 0.5rem;
        top: 12%;
    }
    .lamine-header {
        font-size: 10px;
    }
    .laminat-header {
        font-size: 10px;
    }
    .lamine-text {
        font-size: 8px;
    }
    .laminat-text {
        font-size: 8px;
    }
    .contact-header {
        font-size: 1rem;
    }
    .contact-text {
        font-size: 1rem;
    }
    .telephone-header { 
        font-size: 1rem;
    }
    .numara {
        font-size: 18px;
    } 
    .email-header{
        font-size: 1rem;
    }
    .email {
        font-size: 18px;
    }
    .adress-header{
        font-size: 1rem;
    }
    .adress {
        font-size: 18px;
    }
    .social-header {
        font-size: 1rem;
    }
    .tarihce-header {
        font-size: 1rem;
    }
    .tarihce-paragraf {
        font-size: 12px;
    }
    .footer-text {
        font-size: 8px;
    }
    .arayın-button {
        font-size: 10px;
    }
    .logo-arka {
        height: 200px;
    }
    .logo-kapak-icerik {
        height: 200px;
    }
}